* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid 1px black;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}